{
    "name" : "{{ name }}", 
    "stack_name": "{{ stack_name }}",
    "roles" : {{ roles }}, 
    "path" : "{{ path }}", 
    "port_base" : "{{ port_base }}", 
    "cookbook_path" : [ "pynode.cookbooks", "cookbooks", ], 
    
    "git" : {
        "repos" : [ 
            {
                "url" : "git@github.com:Stamped/Stamped.git", 
                "path" : "{{ path }}/stamped", 
            }
        ], 
    }, 
    
    "wsgi" : {
        "app" : "{{ path }}/stamped/sites/stamped.com/bin/serve.py", 
        "log" : "{{ path }}/logs/wsgi.log", 
    }, 
    
    "python" : {
        "requirements" : [
            "fabric", 
            "BeautifulSoup", 
            "boto", 
            "xlrd", 
            "pymongo", 
            "flask", 
            "gunicorn", 
            "feedparser", 
            "greenlet", 
            "gevent", 
            "pil", 
            "lxml", 
            "django", 
        ], 
    }, 
    
    "recipes" : [
        "stamped", 
    ], 
    
    {% if 'db' in roles %}
    "raid" : {
        "restore" : {% if raid.restore %} "{{ raid.restore }}" {% else %} False {% endif %},
        "config" : {
            "diskSize": {{ raid.diskSize }},
            "numDisks": {{ raid.numDisks }},
        }
    }, 
    
    "mongodb" : {
        "options" : [ {% if mongodb.options %} mongodb.options {% endif %} ], 
        "config" : {
            "path" : "{{ path }}/conf/mongod.conf", 
            "maxConns" : 16384,
            "dbpath" : "{{ path }}/db", 
            {% if mongodb.port %}"port" : "{{ mongodb.port }}", {% endif %}
            "logpath" : "{{ path }}/logs/mongod.log", 
            "replSet" : "{{ mongodb.replSet }}", 
            "nohttpinterface" : True, 
            #"journal" : True, 
            #"shardsvr" : True, 
        }, 
    }, 
    {% endif %}
}
